.acct-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-image: url("../images/maskwear_background.jpg");
}

.basic-form {
  background-color: rgba(211, 99, 0, 0.7);
  margin: auto;
  margin-bottom: 3em;
  padding: 3em;
  color: rgb(175, 255, 144);
  font-size: 2em;
}

.basic-form input {
  font-size: 1.5em;
}

.displayscores {
  display: inline-block;
  box-sizing: border-box;
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;

  background: white;
}


.addPersonForm {
  position: relative;
  text-align: center;
  width: 320px;
  height: 420px;
  background: white;
  color: black;
  top: 0%;
  left: 40%;
  box-sizing: border-box;

}

.row {
  display: inline-block;
}