.acct-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-image: url("../images/maskwear_background.jpg");
}

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  margin: 5em;
  color: black;
  background: rgba(255, 183, 75, 0.8);
  border-radius: 10px;
}

.basic-form h1 {
  margin-bottom: 2em;
}

.txt_field {
  position: relative;
}

.txt_field input {
  width: 100%;
  padding: 10px 0;
  font-size: 2em;
  margin-bottom: 30px;
  border: none;
  border-bottom: 4px solid white;
  outline: none;
  background: transparent;
  text-align: center;
}

.txt_field input:hover,
.txt_field input:focus {
  background-color: white;
  transition: 0.5s;
}

.txt_field label {
  padding: 1em;
  font-size: 2em;
  color: black;
}

.submit-button {
  background-color: white;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

.submit-button:hover {
  background-color: orangered;
}

.txt_field select {
  font-size: 2em;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.displayscores {
  display: inline-block;
  box-sizing: border-box;
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  background: white;
}


.addPersonForm {
  position: relative;
  text-align: center;
  width: 320px;
  height: 420px;
  background: white;
  color: black;
  top: 0%;
  left: 40%;
  box-sizing: border-box;

}

.row {
  display: inline-block;
}