.Card {
  background-color: lightblue;
  width: 80%;
  height: 25%;
  border-style: solid;
  border-color: black;
  padding-bottom: 2%;
  margin-bottom: 1%;
}
.Feed {
  margin-left: 4%
}

.text-line {
  text-align: left;
  margin-left: 1%;
}
